# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# reports
report-client.txt
report-server.txt

# client
admin/public/*
!admin/public/README.md
install/public/*
!install/public/README.md

# build
dist/*
!dist/README.md

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
