//
// Back Button
//

.btn-back.btn-default {
  background: #fff;
  box-shadow: $shadow-dark;
  position: fixed;
  top: $admin-header-height + 20px;
  left: $admin-sidebar-width + 20px;

  &:hover {
    background: $clr-primary;
    color: #fff;
  }
  .icon {
    margin-right: 10px;
  }
}
