//
// Back Button
//

.btn-back.btn-default {
  background: #fff;
  box-shadow: $shadow-dark;
  position: absolute;
  top: 20px;
  left: 20px;

  &:hover {
    background: $clr-primary;
    color: #fff;
  }
  .icon {
    margin-right: 10px;
  }
}
