//
// Table Wrap
//

.manage-users-table,
.manage-articles-table,
.recent-content-table {
  background: #fff;
  box-shadow: $shadow-dark;

  .table-title {
    border-bottom: 1px solid $clr-border;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
  }
  .table-title h1,
  .table-title h2 {
    font-size: 18px;
    line-height: 65px;
    margin: 0 auto 0 0;
  }
  .table-container {
    padding: 30px;
  }
  .table-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 0;
  }
  .table-top select {
    background-color: #f8f8f8;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    max-width: 200px;
  }
  .table-top .stats {
    color: $clr-text-lighten;
    display: inline-block;
    font-size: 14px;
    font-weight: $fs-font-weight-bold;
    margin-right: 10px;
  }
  .table-responsive {
    margin: 0;
  }
  .no-articles {
    color: $clr-text-lighten;
    font-style: italic;
    padding: 20px 5px;
  }
}

//
// Tables
//

table {
  thead {
    background-color: darken($clr-bg, 1%);
  }
  thead th {
    border: none;
    color: $fs-clr-text-base;
    font-size: 14px;
    text-shadow: 1px 1px 0 #fff;
  }
  td {
    border: none;
    vertical-align: middle;
  }
  tr:nth-child(even) {
    background: $clr-bg;
  }
  // th:last-child,
  // td:last-child {
  //   text-align: center;
  // }
}

//
// Users Table
//

.manage-users-table {
  .role-label {
    &.admin {
      background-color: $clr-admin;
      color: darken($clr-admin, 60%);
    }
    &.editor {
      background-color: $clr-editor;
      color: darken($clr-editor, 60%);
    }
  }
}

//
// Action Menu
//

.actions-menu {
  display: flex;
  // justify-content: center;

  li {
    margin: 0 2px;
  }
  a {
    border-radius: 50%;
    display: block;
    background-color: #f6fafc;
    color: $clr-text;
    cursor: pointer;
    font-size: 12px;
    line-height: 3em;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    width: 3em;
    height: 3em;
  }
  a:hover {
    background: $clr-primary;
    color: #fff;
  }
  .delete-item:hover {
    background-color: darken(adjust-hue($clr-danger, -5), 35%);
  }
}

//
// Recent Content Table Wrap
// (extends above)
//

.recent-content-table {
  .table-title .btn {
    margin-left: 5px;
  }
  th:last-child,
  td:last-child {
    text-align: center;
  }
  .actions-menu {
    justify-content: center;
  }
}
