//
// View
//

.app-view {
  overflow: scroll;
  position: fixed;
  top: $admin-header-height;
  right: 0;
  bottom: 0;
  left: $admin-sidebar-width;
}

//
// Narrow Views
//

.new-user-view,
.edit-user-view,
.new-article-view,
.edit-article-view,
.not-found-view {
  > .wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
  }
}

//
// Wide Views
//

.manage-users-view,
.manage-articles-view {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
}
